body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1417px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:88px;
}
#u6172 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1607px;
  width:193px;
  height:88px;
  opacity:0.2;
}
#u6172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6173 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:41px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6174 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:452px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:61px;
}
#u6175 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:452px;
  width:140px;
  height:60px;
}
#u6175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-96px;
  width:136px;
  word-wrap:break-word;
}
#u6176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6176 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:968px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6177 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1113px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6178 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:300px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6179 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:796px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6180 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:663px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:61px;
}
#u6181 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:946px;
  width:140px;
  height:60px;
}
#u6181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-78px;
  width:136px;
  word-wrap:break-word;
}
#u6182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:61px;
}
#u6182 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:1118px;
  width:155px;
  height:60px;
}
#u6182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-24px;
  width:151px;
  word-wrap:break-word;
}
#u6183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6183 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:129px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6184 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:215px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6185 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:215px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6186 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:1397px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6187 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:101px;
  width:0px;
  height:0px;
}
#u6187_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u6187_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u6187_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6188 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:159px;
  width:0px;
  height:0px;
}
#u6188_seg0 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:-4px;
  width:121px;
  height:8px;
}
#u6188_seg1 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:-4px;
  width:8px;
  height:60px;
}
#u6188_seg2 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:41px;
  width:20px;
  height:20px;
}
#u6188_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6189 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:275px;
  width:0px;
  height:0px;
}
#u6189_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u6189_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:10px;
  width:20px;
  height:20px;
}
#u6189_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6190 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:512px;
  width:0px;
  height:0px;
}
#u6190_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:142px;
}
#u6190_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:134px;
  width:141px;
  height:8px;
}
#u6190_seg2 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:134px;
  width:8px;
  height:17px;
}
#u6190_seg3 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:136px;
  width:20px;
  height:20px;
}
#u6190_text {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:130px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6191 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1028px;
  width:0px;
  height:0px;
}
#u6191_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u6191_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:70px;
  width:20px;
  height:20px;
}
#u6191_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:61px;
}
#u6192 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:1397px;
  width:175px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:171px;
  word-wrap:break-word;
}
#u6193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6193 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:382px;
  width:39px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6194 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:360px;
  width:0px;
  height:0px;
}
#u6194_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u6194_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:20px;
}
#u6194_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6195 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:420px;
  width:0px;
  height:0px;
}
#u6195_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u6195_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u6195_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6196 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:382px;
  width:39px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6197 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:330px;
  width:0px;
  height:0px;
}
#u6197_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u6197_seg1 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:56px;
}
#u6197_seg2 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:37px;
  width:20px;
  height:20px;
}
#u6197_text {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6198 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:420px;
  width:0px;
  height:0px;
}
#u6198_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:234px;
}
#u6198_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:226px;
  width:261px;
  height:8px;
}
#u6198_seg2 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:226px;
  width:8px;
  height:17px;
}
#u6198_seg3 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:228px;
  width:20px;
  height:20px;
}
#u6198_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:222px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6199 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:860px;
  width:39px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6200 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:826px;
  width:0px;
  height:0px;
}
#u6200_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u6200_seg1 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:38px;
}
#u6200_seg2 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:19px;
  width:20px;
  height:20px;
}
#u6200_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6201 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:898px;
  width:0px;
  height:0px;
}
#u6201_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:249px;
}
#u6201_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:241px;
  width:74px;
  height:8px;
}
#u6201_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:235px;
  width:20px;
  height:20px;
}
#u6201_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:150px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6202 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:744px;
  width:39px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6203 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:693px;
  width:0px;
  height:0px;
}
#u6203_seg0 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:-4px;
  width:176px;
  height:8px;
}
#u6203_seg1 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:-4px;
  width:8px;
  height:55px;
}
#u6203_seg2 {
  border-width:0px;
  position:absolute;
  left:-182px;
  top:36px;
  width:20px;
  height:20px;
}
#u6203_text {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6204 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:876px;
  width:39px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6205 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:856px;
  width:0px;
  height:0px;
}
#u6205_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u6205_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u6205_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6206 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:914px;
  width:0px;
  height:0px;
}
#u6206_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u6206_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u6206_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6207 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:744px;
  width:39px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6208 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:723px;
  width:0px;
  height:0px;
}
#u6208_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u6208_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:6px;
  width:20px;
  height:20px;
}
#u6208_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6209 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:1529px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u6210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:61px;
}
#u6210 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1529px;
  width:175px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  word-wrap:break-word;
}
#u6211 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:1457px;
  width:0px;
  height:0px;
}
#u6211_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u6211_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:49px;
  width:169px;
  height:8px;
}
#u6211_seg2 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:49px;
  width:8px;
  height:23px;
}
#u6211_seg3 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:57px;
  width:20px;
  height:20px;
}
#u6211_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6212 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1207px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6213 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:1295px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6214 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:1295px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6215 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1237px;
  width:0px;
  height:0px;
}
#u6215_seg0 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:-4px;
  width:121px;
  height:8px;
}
#u6215_seg1 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:-4px;
  width:8px;
  height:62px;
}
#u6215_seg2 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:43px;
  width:20px;
  height:20px;
}
#u6215_text {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6216 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:1355px;
  width:0px;
  height:0px;
}
#u6216_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u6216_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u6216_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6217 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1237px;
  width:0px;
  height:0px;
}
#u6217_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u6217_seg1 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-4px;
  width:8px;
  height:62px;
}
#u6217_seg2 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:43px;
  width:20px;
  height:20px;
}
#u6217_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6218 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:1397px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6219 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:1355px;
  width:0px;
  height:0px;
}
#u6219_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u6219_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u6219_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:61px;
}
#u6220 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:1397px;
  width:292px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:288px;
  word-wrap:break-word;
}
#u6221 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:1457px;
  width:0px;
  height:0px;
}
#u6221_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u6221_seg1 {
  border-width:0px;
  position:absolute;
  left:-182px;
  top:49px;
  width:186px;
  height:8px;
}
#u6221_seg2 {
  border-width:0px;
  position:absolute;
  left:-182px;
  top:49px;
  width:8px;
  height:23px;
}
#u6221_seg3 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:57px;
  width:20px;
  height:20px;
}
#u6221_text {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6222 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:159px;
  width:0px;
  height:0px;
}
#u6222_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:115px;
  height:8px;
}
#u6222_seg1 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-4px;
  width:8px;
  height:60px;
}
#u6222_seg2 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:41px;
  width:20px;
  height:20px;
}
#u6222_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6223 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:275px;
  width:0px;
  height:0px;
}
#u6223_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:379px;
}
#u6223_seg1 {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:371px;
  width:203px;
  height:8px;
}
#u6223_seg2 {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:371px;
  width:8px;
  height:17px;
}
#u6223_seg3 {
  border-width:0px;
  position:absolute;
  left:-205px;
  top:373px;
  width:20px;
  height:20px;
}
#u6223_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:284px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6224 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:1617px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6225 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1589px;
  width:0px;
  height:0px;
}
#u6225_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u6225_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u6225_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6226 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:1725px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6227 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1677px;
  width:0px;
  height:0px;
}
#u6227_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u6227_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u6227_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:18px;
}
#u6228 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1670px;
  width:57px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:18px;
}
#u6228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6229 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:782px;
  width:0px;
  height:0px;
}
#u6229_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u6229_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:20px;
  height:20px;
}
#u6229_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6230 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:782px;
  width:0px;
  height:0px;
}
#u6230_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:412px;
}
#u6230_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:404px;
  width:230px;
  height:8px;
}
#u6230_seg2 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:404px;
  width:8px;
  height:21px;
}
#u6230_seg3 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:410px;
  width:20px;
  height:20px;
}
#u6230_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:316px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6231 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1173px;
  width:0px;
  height:0px;
}
#u6231_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u6231_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u6231_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:146px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6232 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:101px;
  width:201px;
  height:146px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:197px;
  word-wrap:break-word;
}
#u6233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:146px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6233 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:413px;
  width:222px;
  height:146px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u6234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:129px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6234 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:421px;
  width:170px;
  height:129px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u6235 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:486px;
  width:0px;
  height:0px;
}
#u6235_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-4px;
  width:114px;
  height:8px;
}
#u6235_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6236 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:486px;
  width:0px;
  height:0px;
}
#u6236_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:122px;
  height:8px;
}
#u6236_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6237 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:257px;
  width:7px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u6238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6238 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:383px;
  width:9px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6239 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:464px;
  width:7px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u6240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6240 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:464px;
  width:7px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u6241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6241 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:293px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6242 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:247px;
  width:0px;
  height:0px;
}
#u6242_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u6242_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6243 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:353px;
  width:0px;
  height:0px;
}
#u6243_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u6243_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:146px;
}
#u6244 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:413px;
  width:173px;
  height:146px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:169px;
  word-wrap:break-word;
}
#u6245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:61px;
}
#u6245 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:1529px;
  width:175px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:171px;
  word-wrap:break-word;
}
#u6246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6246 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:317px;
  width:97px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6247 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:829px;
  width:65px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6248 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:1133px;
  width:65px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6249 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:1361px;
  width:65px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6250 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1361px;
  width:65px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6251 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1509px;
  width:65px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u6251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
