body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.298039215686275);
  -webkit-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.298039215686275);
  box-shadow:2px 2px 8px rgba(0, 0, 0, 0.298039215686275);
}
#u3587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u3587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:80px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:80px;
}
#u3588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:36px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:1366px;
  height:36px;
}
#u3589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u3590 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:38px;
  width:94px;
  height:36px;
}
#u3590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(74, 74, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3592 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:80px;
  width:140px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3592_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3592.selected {
}
#u3592_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u3593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3593 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:93px;
  width:10px;
  height:10px;
}
#u3593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u3595 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:30px;
  width:22px;
  height:20px;
}
#u3595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u3596 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:31px;
  width:29px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u3596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F9E47C;
  line-height:18px;
}
#u3597 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:31px;
  width:15px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F9E47C;
  line-height:18px;
}
#u3597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u3599 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:31px;
  width:35px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u3599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u3600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3600 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:27px;
  width:26px;
  height:26px;
}
#u3600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:5px;
}
#u3601 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:38px;
  width:9px;
  height:5px;
}
#u3601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3602 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:91px;
  width:15px;
  height:15px;
}
#u3602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3603 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:91px;
  width:15px;
  height:15px;
}
#u3603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(74, 74, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3605 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:80px;
  width:140px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3605_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3605.selected {
}
#u3605_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u3606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3606 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:93px;
  width:10px;
  height:10px;
}
#u3606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(74, 74, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3608 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:80px;
  width:140px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3608_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3608.selected {
}
#u3608_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u3609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3609 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:93px;
  width:10px;
  height:10px;
}
#u3609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(74, 74, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3611 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:80px;
  width:140px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3611_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3611.selected {
}
#u3611_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u3612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3612 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:93px;
  width:10px;
  height:10px;
}
#u3612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(74, 74, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3614 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:80px;
  width:140px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3614_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3614.selected {
}
#u3614_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u3615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3615 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:93px;
  width:10px;
  height:10px;
}
#u3615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u3617 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:31px;
  width:57px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u3617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFBF01;
  line-height:18px;
}
#u3618 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:31px;
  width:18px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFBF01;
  line-height:18px;
}
#u3618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u3619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:29px;
  width:22px;
  height:22px;
}
#u3619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:25px;
  width:637px;
  height:30px;
}
#u3620_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:30px;
}
#u3622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:123px;
  word-wrap:break-word;
}
#u3623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:123px;
  word-wrap:break-word;
}
#u3624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u3624 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:123px;
  word-wrap:break-word;
}
#u3625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u3625 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u3625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:123px;
  word-wrap:break-word;
}
#u3626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u3626 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:0px;
  width:129px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:30px;
  width:127px;
  height:40px;
  visibility:hidden;
}
#u3627_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3629_img.mouseOver {
}
#u3629.mouseOver {
}
#u3629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:30px;
  width:127px;
  height:200px;
  visibility:hidden;
}
#u3630_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:200px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:200px;
}
#u3632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3632_img.mouseOver {
}
#u3632.mouseOver {
}
#u3632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u3633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:127px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3633_img.mouseOver {
}
#u3633.mouseOver {
}
#u3633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u3634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:127px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3634_img.mouseOver {
}
#u3634.mouseOver {
}
#u3634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u3635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:127px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3635_img.mouseOver {
}
#u3635.mouseOver {
}
#u3635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u3636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:127px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3636_img.mouseOver {
}
#u3636.mouseOver {
}
#u3636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:30px;
  width:129px;
  height:200px;
  visibility:hidden;
}
#u3637_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:200px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:200px;
}
#u3639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3639_img.mouseOver {
}
#u3639.mouseOver {
}
#u3639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:129px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3640_img.mouseOver {
}
#u3640.mouseOver {
}
#u3640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u3641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:129px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3641_img.mouseOver {
}
#u3641.mouseOver {
}
#u3641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:129px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3642_img.mouseOver {
}
#u3642.mouseOver {
}
#u3642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:129px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:36px;
}
#u3643_img.mouseOver {
}
#u3643.mouseOver {
}
#u3643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 4px rgba(0, 0, 0, 0.349019607843137);
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:244px;
  width:436px;
  height:210px;
}
#u3645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3647_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:21px;
  height:5px;
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:276px;
  width:18px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u3647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:21px;
  height:5px;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:276px;
  width:18px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u3648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F64357;
  line-height:18px;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:414px;
  width:335px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F64357;
  line-height:18px;
}
#u3649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u3650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:313px;
  width:171px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u3650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u3651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(45, 78, 245, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:396px;
  width:100px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u3651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u3652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:22px;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:277px;
  width:73px;
  height:19px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:22px;
}
#u3652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  white-space:nowrap;
}
