body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1708px;
  height:2172px;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1708px;
  height:2172px;
}
#u59_ref {
  border-width:0px;
  position:absolute;
  left:1700px;
  top:2162px;
  width:1px;
  height:1px;
}
